# 데이터 정제 및 준비

## 누락된 데이터 처리하기

In [6]:
import numpy as np
import pandas as pd

In [7]:
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [8]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [9]:
string_data[0] = None

In [10]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### 누락된 데이터 골라내기

In [11]:
from numpy import nan as NA

In [12]:
data = pd.Series([1,NA,3.5,NA,7])

In [13]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [14]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64